@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
				background: white;
				font-family: Poppins;
}


.g1{
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				position: relative;
}

.images1 img{
				width: 150px;
}

.images1{
				position: absolute;
				top: 0;
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap:2em;
				margin-left: 1em;
				margin-right: 1em;
}

.group1{
				display: grid;
				grid-template-columns: 1fr 1fr 1fr ;
				gap:2em;
				margin-left: 1em;
				margin-right: 1em;
				z-index: 55;
			margin-top: 2em;
			opacity:;
}

.group1 button{
				padding-left: 30px;
				padding-right: 30px;
				padding-top: 5px ;
				padding-bottom:5px ;
				font-weight: bold;
				font-family: Poppins;
	    z-index: 4444;
	    border: 2px solid red;
}
.group1 button:hover{
				background: white;
				border: 2px solid black;
}

.ask{
				
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				border-radius: 5px;
			z-index: 5555555;
				padding-top: 1em;
				padding-bottom: 1em;
				text-align: center;
				margin-top: em;
			position: relative;											
										
}

.btn{
				display: flex;
				justify-content:center;
				align-items: center;
				gap: 2em;				
}

#btn1{
				padding-left: 30px;
				padding-right: 30px;
				padding-top: 5px ;
				padding-bottom:5px ;
				font-weight: bold;
				font-family: Poppins;
				border: 2px solid black;
}
#btn1:hover{
				background: white;
				border: 2px solid black;
}
#btn2:hover{
				background: white;
				border: 2px solid black;
}
#btn2{
				padding-left: 30px;
				padding-right: 30px;
				padding-top: 5px ;
				padding-bottom:5px ;
				font-weight: bold;
				font-family: Poppins;
				border: 2px solid red;
				
	
}

.crush{
				font-size: 25px;
				margin-bottom: 2em;
				font-weight: bold;
				color: red;
}
#hands{
				width: 50px;
				position: absolute;
				top: 12em;
				left: 4em;
				animation: bounce2 2s ease infinite;
				opacity: 0;
}
#sadman{
				transform: translateY(-2em);		
				opacity: 0;
}
#hang{
		transform: translateY(-4em);		
		opacity: 0;
}
#frog{
				transform: translateY(-4em);	
				opacity: 0;	
}

#hahahuhu{
				opacity: 0;
}

#sadcat{
				opacity: 0;
}
#sadboi{
				opacity: 0;
}

#crying{
				opacity: 0;
}
#sadsad{
				opacity: 0;
}


@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-20px);}
	60% {transform: translateY(-15px);}
}

/*BUTTONS OPACITY*/

#btt1{
				opacity: 0;
}
#btt2{
				opacity: 0;
}
#btt3{
				opacity: 0;
}
#btt4{
				opacity: 0;
}
#btt5{
				opacity: 0;
}
#btt6{
				opacity: 0;
}
#btt7{
				opacity: 0;
}
#btt8{
				opacity: 0;
}
#btt9{
				opacity: 0;
}
#btt10{
				opacity: 0;
}
#btt11{
				opacity: 0;
}
#btt12{
				opacity: 0;
}

       /*BUTTONS2 OPACITY*/
#bbtt1{
				opacity: 0;
}
#bbtt2{
				opacity: 0;
}
#bbtt3{
				opacity: 0;
}
#bbtt4{
				opacity: 0;
}
#bbtt5{
				opacity: 0;
}
#bbtt6{
				opacity: 0;
}
#bbtt7{
				opacity: 0;
}
#bbtt8{
				opacity: 0;
}
#bbtt9{
				opacity: 0;
}
#bbtt10{
				opacity: 0;
}
#bbtt11{
				opacity: 0;
}
#bbtt12{
				opacity: 0;
}

.fff{
display: flex;
				justify-content: center;
				align-items: center;
}



 

.x1 {
    left: 5%;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.6;
    -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
}
.x2 {
    left: 25%;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.9;
    -webkit-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
}
.x3 {
    left: 55%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    -webkit-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
}
.x4 {
    left: 72%;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.9;
    -webkit-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveclouds 18s linear infinite, sideWays 0zs ease-in-out infinite alternate;
}
.x5 {
    left: 88%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}
.x6 {
    left: 33%;
    opacity: 1;
    -webkit-animation: moveclouds 2s linear infinite, swayWays 1s ease-in-out infinite alternate;
    animation: moveclouds 10s linear infinite, swayWays 9s ease-in-out infinite alternate;
}
@-webkit-keyframes moveclouds {
    0% {
        top: 500px;
    }
    100% {
        top: -500px;
    }
}
@keyframes moveclouds {
    0% {
        top: 500px;
    }
    100% {
        top: -500px;
    }
}
@-webkit-keyframes sideWays {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 50px;
    }
}
@keyframes sideWays {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 50px;
    }
}
@-keyframes swayWays {
    0% {
        transform: rotate(12deg);
        left: -0.3%;
    }
    33% {
        transform: rotate(-2deg);
        left: 0.7%;
    }
    100% {
        transform: rotate(0deg);
        left: -12%;
    }
}
/* //  HEART CODE */
.altheart {
    background: url(Hi Crush! _3_files/113439_img25_twotoneheart.png) no-repeat center;
    width: 24px;
    height: 21px;
    position: relative;
    display: block;
}
.heart {
    position: relative;
}
.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 18px;
    top: 0;
    width: 18px;
    height: 30px;
    background: #CC2022;
    -moz-border-radius: 20px 50% 0 0;
    border-radius: 30px 30px 0 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
.heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
   